@import "src/App.scss";

.inputForm {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.header-row {
  position: relative;
  display: flex;
  align-items: center;
}

.header-column {
  flex: 20%;
  padding: 5px;
}

.spinner {
  @include align-center;
}

.footer {
  position: absolute;
  margin-bottom: 1px;
  margin-left: 5px;
  bottom: 0;
}

.selectInput {
  border: none;
  border-bottom: 2px solid black;
  border-radius: 0px;
  outline: none;
}

p {
  font-size: 19px;
}

.form-control:focus {
  border-color: black;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.recipe-box {
  background-color: #e2e2e2;
}
