@import "./style/config";

$theme-colors: (
  "primary": #3a8f81,
  "secondary": #dce0d9,
);

@import "../node_modules/bootstrap/scss/bootstrap";

@mixin align-center {
  width: 70px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

h1,
h2,
h3 {
  font-family: "Merriweather", sans-serif;
}
